/**
 * 5.0 Content
 * ----------------------------------------------------------------------------
 */

.hentry {
	margin-top: 20px;
	transition: margin .2s, padding .2s, width .2s;
}

.entry-header,
.entry-content,
.entry-summary,
.entry-meta {
	margin: 0 auto;
	width: 100%;
}

.sidebar .entry-header,
.sidebar .entry-content,
.sidebar .entry-summary,
.sidebar .entry-meta {
	max-width: 1040px;
	padding: 0 376px 0 60px;
}

/* Two column layout for posts */
.home, .archive, .category-problem, .page-id-1190, .search-results {
	.hentry {
		
	}
}

.site-content-masonry {
	width: 100%;
	position: relative;
	margin-bottom: 20px;
	.grid-sizer,
	.post {
		width: 49%;
	}
}



