/**
 * 8.0 Custom Colors
 * ----------------------------------------------------------------------------
 */

/* Header */
.problem .site-header {
	background-color: $route;
	border-bottom: 1px solid $route-dark;
}
.crag .site-header {
	background-color: $crag;
	border-bottom: 1px solid $crag-dark;
}
.blog .site-header, .page-id-1190 .site-header {
	background-color: $blog;
	border-bottom: 1px solid $blog-dark;
}
	.term-post-format-image .site-header, .single-format-image .site-header {
		background-color: $images;
		border-bottom: 1px solid $images-dark;
	}
	.term-post-format-video .site-header, .single-format-video .site-header {
		background-color: $video;
		border-bottom: 1px solid $video-dark;
	}
.page-id-871 .site-header, .useful .site-header { // Useful-Page
	background-color: $info;
	border-bottom: 1px solid $info-dark;
}

.home .site-header, .author .site-header {
	background-color: $default;
	border-bottom: 1px solid $default-dark;
}




/* Header buttons */
// Crag
.nav-menu li.menu-item-739:hover > a,
.nav-menu li.menu-item-739 a:hover,
.nav-menu li.menu-item-739:focus > a,
.nav-menu li.menu-item-739 a:focus {
	background-color: $crag-dark;
}
.nav-menu .menu-item-739 .sub-menu,
.nav-menu .menu-item-739 .children {
	background-color: $crag;
}
// Problems
.nav-menu li.menu-item-768:hover > a,
.nav-menu li.menu-item-768 a:hover,
.nav-menu li.menu-item-768:focus > a,
.nav-menu li.menu-item-768 a:focus {
	background-color: $route-dark;
}
.nav-menu .menu-item-768 .sub-menu,
.nav-menu .menu-item-768 .children {
	background-color: $route;
}
// Blog
.nav-menu li.menu-item-752:hover > a,
.nav-menu li.menu-item-752 a:hover,
.nav-menu li.menu-item-752:focus > a,
.nav-menu li.menu-item-752 a:focus {
	background-color: $blog-dark;
}
.nav-menu .menu-item-752 .sub-menu,
.nav-menu .menu-item-752 .children {
	background-color: $blog;
}
	.nav-menu .menu-item-752 .sub-menu,
	.nav-menu .menu-item-752 .children {
		background-color: $blog;
	}
	// Images
	.nav-menu li.menu-item-784 > a,
	.nav-menu li.menu-item-784 a,
	.nav-menu li.menu-item-784 > a,
	.nav-menu li.menu-item-784 a {
		background-color: $images;
	}
	.nav-menu li.menu-item-784:hover > a,
	.nav-menu li.menu-item-784 a:hover,
	.nav-menu li.menu-item-784:focus > a,
	.nav-menu li.menu-item-784 a:focus {
		background-color: $images-dark;
	}
	// Video
	.nav-menu li.menu-item-783 > a,
	.nav-menu li.menu-item-783 a,
	.nav-menu li.menu-item-783 > a,
	.nav-menu li.menu-item-783 a {
		background-color: $video;
	}
	.nav-menu li.menu-item-783:hover > a,
	.nav-menu li.menu-item-783 a:hover,
	.nav-menu li.menu-item-783:focus > a,
	.nav-menu li.menu-item-783 a:focus {
		background-color: $video-dark;
	}

// Useful
.nav-menu li.menu-item-873:hover > a,
.nav-menu li.menu-item-873 a:hover,
.nav-menu li.menu-item-873:focus > a,
.nav-menu li.menu-item-873 a:focus {
	background-color: $info-dark;
}
.nav-menu .menu-item-873 .sub-menu,
.nav-menu .menu-item-873 .children {
	background-color: $info;
}


/* Content entry meta */
// Blog
.blog .entry-meta {
	background-color: $blog;
	border-bottom: 1px solid $blog-dark;
}
.blog .comments-link a {
	background-color: $blog;
	&:hover { background-color: $blog-dark; }
}
// Crag
.category-crag {
	.entry-meta {
		background-color: $crag;
		border-bottom: 1px solid $crag-dark;
	}
	.comments-link a {
		background-color: $crag;
		&:hover { background-color: $crag-dark; }
	}
}
// Problem 
.category-problem {
	.entry-meta {
		background-color: $route;
		border-bottom: 1px solid $route-dark;
	}
	.comments-link a {
		background-color: $route;
		&:hover { background-color: $route-dark; }
	}
}
// Format - Image
.format-image {
	a {
		color: $images;
		&:hover {
			color: $images-dark;
		}
	}
	.entry-meta {
		background-color: $images !important;
		border-bottom: 1px solid $images-dark;
		a {
			color: #fff;
		}
	}
	.comments-link a {
		background-color: $images;
		&:hover { background-color: $images-dark; color: #fff;} // changed
	}
}  

// Format - Video
.format-video {
	.entry-meta {
		background-color: $video !important;
		border-bottom: 1px solid $video-dark;
	}
	.comments-link a {
		background-color: $video;
		&:hover { background-color: $video-dark; }
	}
}
// Useful
.category-useful, .page-id-871  {
	.entry-meta {
		background-color: $info;
		border-bottom: 1px solid $info-dark;
	}
	.comments-link a {
		background-color: $info;
		&:hover { background-color: $info-dark; }
	}
}


// - - - - _content_comments.scss - - - - //
/* Custom page header color */
.problem .comments-area {
	background-color: $route;
	border-bottom: 1px solid $route-dark;
}
.crag .comments-area {
	background-color: $crag;
	border-bottom: 1px solid $crag-dark;
}
.blog .comments-area {
	background-color: $blog;
	border-bottom: 1px solid $blog-dark;
}
	.term-post-format-image .comments-area, .single-format-image .comments-area {
		background-color: $images;
		border-bottom: 1px solid $images-dark;
	}
	.term-post-format-video .comments-area, .single-format-video .comments-area {
		background-color: $video;
		border-bottom: 1px solid $video-dark;
	}
.page-id-871 .comments-area, .useful .comments-area { // Useful-Page
	background-color: $info;
	border-bottom: 1px solid $info-dark;
}
.comments-area, .home .comments-area {
	background-color: $default;
	border-bottom: 1px solid $default-dark;
}

/* Post/paging navigation */
body.crag .paging-navigation a { background-color: $crag; }
body.crag .paging-navigation a:hover { background-color: $crag-dark; }
body.problem .paging-navigation a { background-color: $route; }
body.problem .paging-navigation a:hover { background-color: $route-dark; }
body.blog .paging-navigation a { background-color: $blog; }
body.blog .paging-navigation a:hover { background-color: $blog-dark; }
	body.page-id-1190 .paging-navigation a { background-color: $blog; }
	body.page-id-1190 .paging-navigation a:hover { background-color: $blog-dark; }
	body.term-post-format-image .paging-navigation a { background-color: $images; }
	body.term-post-format-image .paging-navigation a:hover { background-color: $images-dark; }
	body.term-post-format-video .paging-navigation a { background-color: $video; }
	body.term-post-format-video .paging-navigation a:hover { background-color: $video-dark; }
body.useful .paging-navigation a { background-color: $info; }
body.useful .paging-navigation a:hover { background-color: $info-dark; }
body.home .paging-navigation a { background-color: $default; }
body.home .paging-navigation a:hover { background-color: $default-dark; }

// numeric-navigation
body.crag .numeric-navigation { background-color: $crag; }
body.problem .numeric-navigation { background-color: $route-dark; }
body.blog .numeric-navigation { background-color: $blog; }
	body.page-id-1190 .numeric-navigation { background-color: $blog; }
	body.term-post-format-image .numeric-navigation { background-color: $images; }
	body.term-post-format-video .numeric-navigation { background-color: $video; }
body.useful .numeric-navigation { background-color: $info; }
body.home .numeric-navigation { background-color: $default; }


/* Problem results */
.crag .results-heading {
	border-bottom: 3px solid $crag;	
}
.problem .results-heading  {
	border-bottom: 3px solid $route;
}