/**
 * 4.0 Admin bar
 * ----------------------------------------------------------------------------
 */

// Overwrite some admin bar options
#wpadminbar {
	//padding-left: 12px;
	//padding-right: 20px;
	position: absolute;
	
	#wp-toolbar>ul>li { 
		display: block !important;
		>a {
			padding: 0 8px 0 7px;
		}
	}
}


/**
 * 4.1 Site Header
 * ----------------------------------------------------------------------------
 */

.site-header {
	position: relative;
	
	//top: 0; left: 0;
	width: 100vw;
  left: calc(-50vw + 50%);
  //background-color: orange;

  background-color: $default;
	border-bottom: 1px solid $default-dark;
}



/**
 * 4.2 Navigation
 * ----------------------------------------------------------------------------
 */

 /* Navbar */
.navbar {
	//background-color: #f7f5e7;
	margin: 0 auto;
	max-width: 1440px;
	width: 100%;

	//background-color: pink;
	//height: 59px;
}

/* Navbar - Home link - logo */
.navbar .home-link {
	//color: #141412;
	display: block;
	//margin: 0 auto;
	//max-width: 1080px;
	//min-height: 230px;
	//padding: 0 20px;
	//text-decoration: none;
	//width: 100%;

	width: 200px; height: 60px;
	float: left;
	padding-top: 6px;
	//background-color: sienna;
	//cursor: pointer;

	.site-logo {
		width: 50%;
		height: 50%;
		max-width: 170px;
		max-height: 48px;
	} 
}

.navbar .site-title:hover {
	text-decoration: underline;
}

.site-title {
	// font-size: 60px;
	// font-weight: bold;
	// line-height: 1;
	// margin: 0;
	// padding: 58px 0 10px;

	display: none;
}

.site-description {
	// font: 300 italic 24px "Source Sans Pro", Helvetica, sans-serif;
	// margin: 0;

	display: none;
}


/* Navbar - Main navigation */
.main-navigation {
	//clear: both;
	margin: 0 auto;
	max-width: 1400px;
	//min-height: 45px;
	//position: relative;

	//min-height: 60px;
	//background-color: crimson;
}

ul.nav-menu,
div.nav-menu > ul {
	margin: 0;
	//padding: 0 40px 0 0;

	float: right;
	//padding: 0 10px 0 0;
	padding-left: 20px;
}

.nav-menu li {
	display: inline-block;
	position: relative;
}

.nav-menu li a {
	//color: #141412;
	display: block;
	font-size: 15px;
	line-height: 1;
	//padding: 15px 20px;
	text-decoration: none;

	height: 60px;
	padding: 23px 20px 0;
	color: white;
}

.nav-menu li:hover > a,
.nav-menu li a:hover,
.nav-menu li:focus > a,
.nav-menu li a:focus {
	background-color: $default-dark;
	color: #fff;
}

.nav-menu .sub-menu,
.nav-menu .children {
	background-color: $default;
	//border: 2px solid #f7f5e7;
	border-top: 0;
	padding: 0;
	position: absolute;
	//left: -2px;
	z-index: 99999;
	//height: 1px;
	//width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

.nav-menu .sub-menu ul,
.nav-menu .children ul {
	border-left: 0;
	left: 100%;
	top: 0;
}

ul.nav-menu ul a,
.nav-menu ul ul a {
	color: #fff;
	margin: 0;
	width: 200px;

	height: 50px;
	padding: 18px 20px 0;
}

ul.nav-menu ul a:hover,
.nav-menu ul ul a:hover,
ul.nav-menu ul a:focus,
.nav-menu ul ul a:focus {
	background-color: $default-dark;
}

ul.nav-menu li:hover > ul,
.nav-menu ul li:hover > ul,
ul.nav-menu .focus > ul,
.nav-menu .focus > ul {
	clip: inherit;
	overflow: inherit;
	height: inherit;
	width: inherit;
}

.nav-menu .current_page_item > a,
.nav-menu .current_page_ancestor > a,
.nav-menu .current-menu-item > a,
.nav-menu .current-menu-ancestor > a {
	//color: #bc360a;
	font-style: italic;

}

.menu-toggle {
	display: none;
}


/* Navbar- Main navigation - Search form */
.site-header .search-form {
	//position: absolute;
	//right: 20px;
	//top: 1px;
	
	height: 60px;
	padding: 8px 0 0 0;
	float: right;
	//background-color: blue;
}

.site-header .search-field {
	background-color: transparent;
	background-image: url(images/search-icon.png);
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	border: none;
	cursor: pointer;
	height: 37px;
	margin: 3px 0;
	padding: 0 0 0 34px;
	position: relative;
	-webkit-transition: width 400ms ease, background 400ms ease;
	transition:         width 400ms ease, background 400ms ease;
	width: 1px;
}

.site-header .search-field:focus {
	background-color: #fff;
	//border: 2px solid #c3c0ab;
	cursor: text;
	outline: 0;
	width: 230px;

	background-image: url(images/search-icon-dark.png);
}

/**
 * 4.3 User data
 * ----------------------------------------------------------------------------
 */

// .sub-header {
// 	min-height: 28px;
// 	width: 100%;
// 	font-size: 80%;
// 	padding-top: 4px;
// 	color: #666;
// 	position: absolute;
// 	top: 0; left: 0;
// 	a {
// 		color: #666;
// 		padding: 8px 4px;
// 		//background-color: red;;
// 	}
// 	.admin-area {
// 		float: right;
// 		span {
// 		}	
// 	}
// 	.breadcrumbs {
// 		float: left;
// 	}
// }

a.user-info {
	float: right;
	margin: 14px 40px 0;
	//background-color: red;
	height: 35px; //width: 100px;
	padding: 2px 20px 0 5px;
	border-radius: 4px;
	&:hover {
		background-color: $default-dark;
	}
	img {
		width: 26px; height: 26px;
		border-radius: 4px;
	}
	span {
		color: #fff;
		font-size: 15px;
		position: relative;
		top: 2px; left: 10px;
		font-weight: lighter;
	}
}

a.login-link {
	float: right;
	position: relative;
	top: 20px; right: 10px;
	&:after {
		@extend %icon;
		content: $icon-user;
	}
	span {
		display: none;
	}
}

.loginform-area {
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-color: rgba(255, 255, 255, .3);
	z-index: 999999;
	#loginform {
		background-color: red;
		max-width: 400px;
		margin: 160px auto;
		padding: 20px 0 4px 20px;
	}
	
}
