/**
 * 6.1 Widgets
 * ----------------------------------------------------------------------------
 */

.widget {
	font-size: 14px;
	-webkit-hyphens: auto;
	-moz-hyphens:    auto;
	-ms-hyphens:     auto;
	hyphens:         auto;
	margin: 0 0 24px;
	padding: 20px;
	word-wrap: break-word;
}

.widget .widget-title {
	font-size: 132%;
	margin: 0 0 10px;
}

.widget ul,
.widget ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.widget li {
	padding: 5px 0;
}

.widget .children li:last-child {
	padding-bottom: 0;
}

.widget li > ul,
.widget li > ol {
	margin-left: 20px;
}

.widget a {
	//color: #bc360a;
}

.widget a:hover {
	//color: #ea9629;
}

/* Search widget */
.search-form .search-submit {
	display: none;
}

/* RSS Widget */
.widget_rss .rss-date {
	display: block;
}

.widget_rss .rss-date,
.widget_rss li > cite {
	color: #a2a2a2;
}

/* Calendar Widget */
.widget_calendar table,
.widget_calendar td {
	border: 0;
	border-collapse: separate;
	border-spacing: 1px;
}

.widget_calendar caption {
	font-size: 14px;
	margin: 0;
}

.widget_calendar th,
.widget_calendar td {
	padding: 0;
	text-align: center;
}

.widget_calendar a {
	display: block;
}

.widget_calendar a:hover {
	background-color: rgba(0, 0, 0, 0.15);
}

.widget_calendar tbody td {
	background-color: rgba(255, 255, 255, 0.5);
}

.site-footer .widget_calendar tbody td {
	background-color: rgba(255, 255, 255, 0.05);
}

.widget_calendar tbody .pad, .site-footer .widget_calendar tbody .pad {
	background-color: transparent;
}


// klifur.is
#widget-forum,
#widget-ad1,
#widget-ad2,
#widget-ad3 {
	padding: 0;
	max-width: 49%;
	.widget {
		padding: 0;
	}
}

#widget-forum {
	aside {
		max-width: 350px;
		float: left;
		margin-bottom: 10px;
		border: 1px solid #ccc;
		padding: 8px !important;
		width: 48%;

		&:first-child {
			margin-right: 20px;
		}
	}
	&:after {
		content: "";
		clear: both;
	}

	.widget_text {
		display: block;
		float: none;
		
	}

	.bbp-author-avatar {
		display: none;
	}

	.widget_display_topics,
	.widget_recent_comments {
		ul {
			color: #999;
			font-size: 90%;
		}

		.widget-title:before {
			
		}

		.bbp-forum-title,
		.recentcomments a {
			// display: block;
			font-size: 120%;
			line-height: 1.2;
		}

		.topic-author a {
			color: #999;
			font-size: 90%;

		}
	}

	.widget_recent_comments {

	}
}


