//
// - VARIABLES
//

// - FONTS
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@font-face {
    font-family: 'ProximaNova';
    src: url(fonts/Proxima_Nova_Bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: 'ProximaNova';
    src: url(fonts/Proxima_Nova_Light.otf);
    font-weight: light;
    font-style: italic;
}
@font-face {
    font-family: 'ProximaNova';
    src: url(fonts/Proxima_Nova_Light_It.otf);
    font-weight: light;
    font-style: italic;
}
@font-face {
    font-family: 'ProximaNova';
    src: url(fonts/Proxima_Nova_Reg.otf);
    font-weight: regular;
}


// - COLORS


// - COLORS - KLIFUR.IS
$default:         #333;
$blog:            #4a9afc;
$route:           #bdd62b;
$video:           #ff5b55;
$info:            #8f6dd8;
$crag:            #fdb100;
$images:          #ff6ea0;
$about:           #41d6ca;

$link:            $crag;

$fav:             #e9327b;
$fin:             #6dc735;
$pro:             #f1be1c;

// $default:         #363D98;
// $blog:            #363D98;
// $video:           #363D98;
// $images:          #363D98;
// $crag:            #363D98;
// $route:           #363D98;
// $info:            #000;
// $about:           #363D98;
//
// $link:            $route;


// // - COLORS - ISALP.IS
// // default: #333
// // blue: #0186cc
// // blue-light: #4fbeef
// // pink: #e9327b
// // green: #6dc735
// // yellow: #f1be1c

// $default:         #333;
// $blog:            #6dc735;
// $video:           #f9c72e;
// $images:          #ff744f;
// $crag:            #0086cc;
// $route:           #4fbeef;
// $info:            #6dc733;
// $about:           #e9327b;

// $link:            $route;

// $fav:             #e9327b;
// $fin:             #6dc735;
// $pro:             #f1be1c;


// - COLORS - ISALP.IS 2
// default: #333
// blue: #0186cc
// blue-light: #4fbeef
// pink: #e9327b
// green: #6dc735
// yellow: #f1be1c

// $default:         #363D98;
// $blog:            #363D98;
// $video:           #363D98;
// $images:          #363D98;
// $crag:            #363D98;
// $route:           #363D98;
// $info:            #000;
// $about:           #363D98;
//
// $link:            $route;
//
// $fav:             #363D98;
// $fin:             #363D98;
// $pro:             #363D98;
